/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

$rg-red: rgba(186, 22, 11, 1);
$rg-transparent-red: rgba(186, 22, 11, 0.1);
$rg-darkgray: rgba(34, 36, 40, 1);
$rg-light-darkgray: rgb(81, 86, 95);
$rg-transparent-gray: rgba(34, 36, 40, 0.3);
$rg-very-transparent-gray: rgba(34, 36, 40, 0.1);
$rg-green: rgba(115, 149, 111, 1);
$rg-transparent-green: rgba(115, 149, 111, 0.1);
$rg-yellow: rgba(243, 223, 162, 1);
$rg-transparent-yellow: rgba(243, 223, 162, 0.1);
$rg-lightyellow: rgba(255, 249, 244, 1);
$rg-ultralightyellow: rgba(255, 249, 244, 0.5);
$rg-blue: rgba(126, 189, 194, 1);
$rg-transparent-blue: rgba(126, 189, 194, 0.1);
$rg-orange: rgba(238, 197, 132, 1);
$rg-transparent-orange: rgba(238, 197, 132, 0.1);

$base-color: $rg-darkgray;

$croque-blanc: #fff2c6;
$bianchi-frutti: #ffd78e;
$booooom: #f3fcb5;
$caliente: #cedb78;
$copain: #ffb2ad;
$fourfour: #e26e66;
$musclor: #af2000;
$chaleureux: #6b1805;
$aperobulle: #bdecef;
$bulledetable: #7EBDC2;

/* -------------------------------------
 * navbar & footer heights
 * ------------------------------------- */
$navbar-height: 80px;

$popover-arrow-size: 15px;
$popover-width: 150px;
$popover-height: 50px;
