/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.pages-home .banner-content {
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
  }
  .backgrounded {
    &:before {
      content: '';
      background-color: #ba160b;
      height: 46px;
      width: 100%;
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
    }
  }
  .banner-message {
    margin: 30px auto;
    p {
      font-size: 26px;
      margin: 0;
      span {
        font-weight: 600;
        position: relative;
        z-index: 10;
        margin: 0 3px;
        &:before {
          content: '';
          background-color: #ba160b;
          height: 20px;
          width: 104%;
          position: absolute;
          top: 3px;
          left: -2%;
          z-index: -1;
        }
      }
    }
  }
}
// le bouton d'action de la banner :
.home-btn-banner {
  &:focus {
    background-color: $rg-red;
    border-color: $rg-red;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  &:hover {
    background-color: transparent;
    color: white;
  }
}

#home-commentcamarche-section {
  .flexgrid-flexbox {
    align-items: flex-start;
  }
  .flexgrid-item {
    @media (max-width: 450px) {
      flex: 0 0 49%;
    }
    @media (min-width: 451px) and (max-width: 799px) {
      flex: 0 0 49%;
    }
    @media (min-width: 800px) {
      flex: 0 0 31%;
    }
  }
}

#home-acs-section, #home-caviste-section {
  .flexgrid-flexbox {
    justify-content: center;
  }
}

// customisation des flexbox_tabs :
$home-zoom-tab-height: 70px;

.pages-home .tabs-flexitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 992px) {
    min-height: calc(#{$home-zoom-tab-height} * 4 + 30px);
  }
  > .tab {
    min-height: 60px;
    margin-bottom: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    h3 {
      font-size: 18px;
      margin: 0;
      flex: 1;
    }
    &:nth-child(1) {
      background-color: $rg-blue;
    }
    &:nth-child(2) {
      background-color: $rg-green;
    }
    &:nth-child(3) {
      background-color: $rg-yellow;
    }
    &:nth-child(4) {
      background-color: $rg-red;
    }
    /* pour les petits smartphones */
    @media (max-width: 410px) {
      flex: 0 49%;
      padding: 0 10px;
    }
    /* pour les grands smartphones */
    @media (min-width: 411px) and (max-width: 766px) {
      flex: 0 49%;
    }
    /* pour les tablettes */
    @media (min-width: 767px) and (max-width: 899px) {
      flex: 0 24%;
      h3 {
        font-size: 17px;
      }
    }
    @media (min-width: 900px) and (max-width: 991px) {
      flex: 0 24%;
    }
    @media (min-width: 992px) and (max-width: 1180px) {
      width: 100%;
      height: $home-zoom-tab-height;
      margin-bottom: 0;
    }
    /* pour les laptop */
    @media (min-width: 1181px) {
      width: 100%;
      height: $home-zoom-tab-height;
      margin-bottom: 0;
      h3 {
        font-size: 20px;
      }
    }
  }
}
.pages-home .tab-contents-flexitem {
  > .tab-content {
    height: 100%;
    border-radius: 2px;
    padding: 20px;
    &:nth-child(1) {
      background-color: $rg-transparent-blue;
    }
    &:nth-child(2) {
      background-color: $rg-transparent-green;
    }
    &:nth-child(3) {
      background-color: $rg-transparent-yellow;
    }
    &:nth-child(4) {
      background-color: $rg-transparent-red;
    }
  }
}
