.radio-button-choice {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rg-btn-choice {
  background-color: $rg-green;
  border-color: $rg-green;
  color: white;
  &:hover {
    color: $rg-green;
  }
  &:focus {
    outline: none;
    color: white;
    background-color: $rg-green;
    text-decoration: none;
  }
  &.active {
    background-color: transparent;
    color: $rg-green;
  }
}
