<div class="wrapper-red text-center" id= "footer-wrapper">
  <div class="flexgrid-container">
    <div class="flexgrid-flexbox" id="footer-flexgrid">
      <div class="flexgrid-item touch active" data-target="#estate">
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="flexgrid-item touch" data-target="#wine">
        <i class="fa fa-glass" aria-hidden="true"></i>
      </div>
      <!-- <div class="flexgrid-item touch" data-target="#photo">
          Dégustation
      </div>
      <div class="flexgrid-item touch" data-target="#tasting">
          Dégustation
      </div>
      <div class="flexgrid-item touch" data-target="#fair">
          Dégustation
      </div> -->
    </div>
  </div>
</div>
