<div class="radio-button-choice">
  <div class="rg-btn rg-btn-choice active" id="short-tasting">
    Short tasting
  </div>
  <div class="rg-btn rg-btn-choice" id="long-tasting">
    Long tasting
  </div>
</div>
