<div class="show-tasting-conditions-card bg-transparent-orange">
  <div class="show-tasting-conditions-group">
    <div class="show-tc-grouplabel">Température</div>
    <div class="show-tc-groupvalue"><span><%= wine.service_temperature %> °C</span></div>
  </div>
  <div class="show-tasting-conditions-group">
    <div class="show-tc-grouplabel">Occasions</div>
    <div class="show-tc-groupvalue"><span><%= wine.occasion %></span></div>
  </div>
  <div class="show-tasting-conditions-group">
    <div class="show-tc-grouplabel">Accords mets/vin</div>
    <div class="show-tc-groupvalue"><span><%= wine.pairing %></span></div>
  </div>
</div>
