<div class="show-tasting-comment-card text-center">
  <div>
    <div class="white-circle" id="<%= icon %>">
      <%= image_tag "#{icon}.svg" %>
    </div>
    <div class="tasting-description">
      <%= description %>
    </div>
  </div>
</div>
