<div class="wrapper wrapper-lightyellow" id="home-acs-section">
  <div class="flexgrid-container text-center">
    <div class="home-card">
      <div class="flexgrid-flexbox">
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to estates_path do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  Liste de mes domaines
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flexgrid-flexbox">
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to wines_path do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  Liste des vins
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to wine_tasted_path do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  Classement des vins dégustés
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to wine_to_taste_path do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  Vins à déguster
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
