<div class="wrapper wrapper-lightyellow" id="home-acs-section">
  <div class="flexgrid-container text-center">
    <h2 class="text-center">Les Domaines</h2>
    <div class="flexgrid-flexbox">
      <% @estates.each do |estate| %>
        <div class="flexgrid-item">
          <div class="sale-card card-shadow">
            <%= link_to estate_path(estate) do %>
              <div class="sale-link"></div>
            <% end %>
            <div class="sale-card-etiquette text-center">
              <div>
                <div class="sale-card-estate">
                  <%= estate.name %>
                </div>
                <div class="sale-card-cuvee">
                  <%= estate.description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <p><%= link_to 'Ajouter un domaine', new_estate_path, class: "rg-btn rg-btn-success" %></p>
  </div>
</div>
