<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs col-sm-6 col-sm">
      <h1>Dégustations</h1>
      <p><%= link_to 'Ajouter un domaine', new_estate_path %></p>
      <p><%= link_to 'Liste des domaines', estates_path %></p>
      <p>Ajouter un vin</p>
      <p>voir les vins</p>
      <p><%= link_to 'Ajouter une dégustation', new_tasting_path %></p>
      <p><%= link_to 'Liste des dégustations', tastings_path %></p>
    </div>
  </div>
</div>
