body {
  background-color: $rg-ultralightyellow;
}

// wrappers :
.page-content-wrapper {
  min-height: 70vh;
  margin-bottom: 10px;
}
.wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper-lightyellow {
  @extend .wrapper;
  background-color: $rg-lightyellow;
}
.wrapper-red {
  @extend .wrapper;
  background-color: $rg-red;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

// les titres :
h2 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 25px;
}
h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
