<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <table>
        <thead>
          <tr>
            <th>Nom de domaine</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @estates.each do |estate| %>
            <tr>
              <td><%= estate.name %></td>
              <!-- <td><%= estate.description %></td> -->
              <td>
                <% if policy(estate).edit? %>
                  <%= link_to 'éditer', edit_estate_path(estate) %>
                <% end %>
              </td>
              <td>
                <% if policy(estate).destroy? %>
                  <%= link_to 'supprimer', estate, method: :delete, data: { confirm: "Etes-vous sûr ?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
