<div class="wrapper wrapper-lightyellow" id="home-acs-section">
  <div class="flexgrid-container text-center">
    <div class="home-card">
      <h2 class="text-center">Liste des Vins dégustés</h2>
      <div class="flexgrid-flexbox">
        <%= render 'shared/wine_show', wine: @wines %>
      </div>
    </div>
  </div>
</div>
